<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

  <context:component-scan base-package="fr.elimerl.registre.reprise"/>

  <context:property-placeholder location="classpath:config.properties"/>

  <bean id="gestionnaireEntités"
    class="fr.elimerl.registre.services.GestionnaireEntités"/>

  <bean id="indexeur" class="fr.elimerl.registre.services.Indexeur"/>

  <bean id="gestionnaireTransactions" class="org.springframework.orm.jpa.JpaTransactionManager"/>

  <tx:annotation-driven transaction-manager="gestionnaireTransactions"/>

  <bean id="usineGestionnaireEntitésJpa"
      class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="nouvelleBase"/>
    <property name="persistenceUnitName" value="Registre" />
  </bean>

  <bean id="ancienneBase" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClassName" value="${ancienneBase.pilote}"/>
    <property name="url" value="${ancienneBase.url}"/>
    <property name="username" value="${ancienneBase.utilisateur}"/>
    <property name="password" value="${ancienneBase.password}"/>
  </bean>

  <bean id="nouvelleBase" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClassName" value="${nouvelleBase.pilote"/>
    <property name="url" value="${nouvelleBase.url}"/>
    <property name="username" value="${nouvelleBase.utilisateur}"/>
    <property name="password" value="${nouvelleBase.mdp}"/>
  </bean>

</beans>
