html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,article,aside,canvas,
details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;}
body{line-height:1;}
:focus{outline: 1;}
article,aside,canvas,details,figcaption,figure,footer,header,
hgroup,menu,nav,section,summary{display:block;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
abbr[title],dfn[title]{cursor:help;}
input,button,textarea,select,optgroup,option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}


/* Clearfix */
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
* html .clearfix{zoom:1;} /* IE6 */
*:first-child+html .clearfix{zoom:1;} /* IE7 */


/* Grid */
html{overflow:-moz-scrollbars-vertical;overflow-y:scroll;}
#wrapper{overflow:hidden;width:960px;margin:0 auto 20px;}
#main-content{overflow:hidden;}


/* Typo */
body{font-family:GillSans, Calibri, Trebuchet, sans-serif;font-size:16px;color:#303030;}
h1{font-size:30px;}
h2{margin-bottom:18px;font-size:22px;color:#a5cc55;}
h3{font-size:12px;}
h4{font-size:14px;}
h1,h2,h3,h4{font-family:Arial, sans-serif;}
a{line-height:12px;text-decoration:none;color:#66a7e1;}
a:hover{text-decoration:underline;color:#4f8dc4;}
a img, h1 img{display:block;}
p{margin-bottom:14px;line-height:19px;}
p+h2, ul+h2{margin-top:32px;}
em{font-style:italic;}


/* Form */
form{overflow:hidden;width:540px;}
.form-row{overflow:hidden;margin-bottom:5px;padding:10px;background:#f0f3f8;}
button,input,textarea,select{font-size:12px;font-family:Arial, sans-serif;}
label, .label{display:inline-block;width:228px;padding:0 10px 10px 0;}
.with-checkbox label{padding-left:12px;cursor:pointer;}
input[type="text"], input[type="password"], select, textarea{padding:8px;width:260px;border:1px solid #ccc;}
select{width:278px;}
textarea{float:right;min-height:80px;}
input[type="checkbox"]{float:left;margin-top:3px;}
button{float:right;position:relative;overflow:visible;margin:0;padding:10px 20px;font-size:13px;font-weight:bold;color:#fff;text-shadow:-1px 1px #809b48;background:#a6cc55;border:0;cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
button:focus,a:focus{outline-width:1px;outline-style:dashed;}
button span{position:relative;display:block;margin:0;padding:0;}
form ul li:last-child{margin-bottom:0;}


/* Table */
table{width:100%;margin-bottom:20px;}
table thead tr{background-color:#c2cff1;}
table thead tr th{font-weight:normal;text-align:left;font-size:23px;padding:10px 0 8px 20px;color:#f6f6f8;border:1px solid #fff;border-width:0 1px 1px 0;}
table .last{border-right:none;font-weight:normal;}
table tbody tr{background-color:#ebeffa;}
table tbody tr:nth-child(odd){background-color:#f1f4f9;}
table tbody tr:hover{background-color:#fcfdff;}
table tbody tr td{padding:10px 20px 12px;color:#303030;font-size:16px;font-weight:bold;border:1px solid #d4dff3;border-width:0 1px 1px 0;}
table tbody tr td a:hover{text-decoration:none;}


/* General rules */
ul{margin:0 0 15px 20px;}
ul li{margin-bottom:10px;list-style:disc inside;}
dl{margin-bottom:15px;}
dl dt{margin-bottom:4px;font-weight:bold;}
dl dd{margin-bottom:14px;text-indent:14px;}
.msg{display:inline-block;padding:8px 10px;font-size:14px;}
.msg-ok{background:#fffed2;}
.msg-nok{background:#fec9a1;}
.msg span{font-weight:bold;color:#a5cc55;}


/* Header */
#header .row{overflow:hidden;margin-bottom:1px;border-bottom:2px solid #303030;}
#header .logo{float:left;}
#welcome-log{float:right;margin-top:20px;padding:9px 11px;font-size:12px;font-family:Arial, sans-serif;background:#f0f3f8;}


/* Main Nav */
#main-nav{overflow:hidden;margin-bottom:20px;padding:31px 0 0;border-top:8px solid #a5cc55;}
#main-nav ul{overflow:hidden;margin:0;background:#ebeffa;border:1px solid #cad5f3;}
#main-nav ul li{float:left;margin:0;list-style:inherit;}
#main-nav ul li a{display:block;margin:11px 0;padding:6px 15px;font-size:13px;font-family:Arial, sans-serif;border-left:1px solid #fff;border-right:1px solid #c2cff1;}
#main-nav ul li:first-child a{border-left:none;}
#main-nav ul li:nth-child(4) a{border-right:0;}
#main-nav ul li:last-child a{border:none;}
#main-nav ul .active a{color:#303030;text-decoration:none;cursor:default;}
#form-recherche{width:inherit;padding:4px 5px 0;}
#form-recherche input{float:left;width:220px;padding:10px;font-size:13px;color:#c7d2f2;background:#fff;border:1px solid #c2cff1;}
#form-recherche button{float:inherit;width:38px;height:38px;padding:0;text-indent:-9999px;background: url(Loupe.png) no-repeat;}


/* Specific page's rules */
.home form{width:422px;}
.home form label{width:110px;}
.home form .with-checkbox{padding:18px 10px 21px;}
.home form .with-checkbox label{width:inherit;padding-bottom:0;}

.add-ref form{width:452px;}
.add-ref form label{width:140px;}
.add-ref form ul li{list-style:inherit;}
.add-ref #liste-acteurs{float:right;margin:0;}
.add-ref #liste-genres{margin-bottom:0;}

.help #main-content{width:600px;}