h1 {
    text-align: left;
    margin: 0;
    padding: 0;
    color: black;
}

#bouton-connexion {
    float: right;
}

ul#nav-bar {
    display: table;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 18px;
}

ul#nav-bar > li {
    display: table-cell;
    padding: 1ex;
    border: 1px solid rgb(135,207,240);
    text-align: center;
    background: rgb(235,239,249);
}

ul#nav-bar * {
    vertical-align: middle;
}

ul#nav-bar a {
    color: rgb(106,166,224);
    text-decoration: none;
}

form#form-recherche {
    display: block;
    height: 24px;
    width: 240px;
    border: 1px solid rgb(135,207,240);
    margin: 0 auto;
    padding: 0;
}

form#form-recherche button {
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    font-size: 100%;
}

form#form-recherche button > img {
    border: none;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
}

form#form-recherche input {
    border: none;
    border-right: 1px solid rgb(135,207,240);
    margin: 0;
    padding: 1px;
    width: 213px;
    height: 22px;
    font-size: 100%;
}

hr {
    margin: 1ex 0 1.5em 0;
    padding: 1px;
    border-top: 2px solid black;
    border-bottom: 1ex solid rgb(164,205,96);
    border-left: none;
    border-right: none;
}

table.resultats-recherche {
    border-collapse: collapse;
    width: 80%;
    margin: 1em auto;
}

table.resultats-recherche tr:nth-child(even) {
    background: rgb(241,244,249);
}

table.resultats-recherche tr:nth-child(odd) {
    background: rgb(235,239,249);
}

table.resultats-recherche td {
    border: 1px solid rgb(211,220,244);
    padding: 1ex;
}
