<html xmlns="http://www.w3.org/1999/xhtml">
#set($pageTitle = 'Accès interdit')
#parse('/header.vm')
<body>
<h1>Accès interdit</h1>
<p>Désolé#if($principal) $principal.name#end, vous n’avez pas accès à Registre avec ce compte.</p>

<div>
  <form action="$contextPath/logout" method="post">
    <input type="submit" value="Essayer un autre compte"/>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
  </form>
</div>

</body>
</html>
