@import "lib";

main.editor {

  form p, form div {
    background: #f0f3f8;
    padding: 20px;
  }

  textarea {
    width: 100%;
  }

  button {
    @extend %button;
    margin: 0 0 0 auto;
  }

  [hidden] {
    display: none;
  }

}
