@import "lib";

main.editor {

  form p, form div {
    background: #f0f3f8;
    padding: 20px;
  }

  textarea {
    width: 100%;
  }

  button {
    @extend %button;
    margin: 0 0 0 auto;
  }

  [hidden] {
    display: none;
  }

  #auto-complete-list {
    position: absolute;
    margin: 0;
    padding: 0;
    background: white;

    > li {
      display: block;
      padding: 2px;
    }
  }

}
