@import "lib";

main.record {
  $float-breakpoint: 400px;

  &.deleted {
    h1 {
      color: #cc5656;
    }
    section {
      background: #faebeb;
    }
  }

  .picture {
    $picture-width: 198px;
    width: $picture-width;
    min-height: 280px;
    background: #eee;
    border: 1px solid #ddd;
    margin: 5px auto;

    @media (min-width: $float-breakpoint) {
      float: left;
      margin: 5px 15px 15px 5px;
    }

    p {
      width: 130px;
      margin: 118px auto 0;
      text-align: center;
      color: #bbb;
    }

    img {
      width: $picture-width;
    }
  }

  section {
    background:#ebeffa;
    padding: 1px;
    @media (min-width: $float-breakpoint) {
      min-height: 300px;
    }

    p {
      text-align: justify;
      margin: 15px;
    }

    .comment {
      @extend p;
      white-space: pre-wrap;
    }

    a.edit, .revive button {
      @extend %button;
      margin: 30px 15px 15px auto;
    }

    a.edit {
      width: 50px;
    }

  }

}
