<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

  <context:annotation-config/>

  <context:property-placeholder location="classpath:config.properties"/>

  <bean id="registreEntityManager"
    class="fr.elimerl.registre.services.RegistreEntityManager"/>

  <bean id="index" class="fr.elimerl.registre.services.Index"/>

  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"/>

  <tx:annotation-driven/>

  <bean id="jpaEntityManagerFactory"
      class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="newDb"/>
    <property name="persistenceUnitName" value="Registre" />
  </bean>

  <bean id="oldDb" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="${oldDb.driver}"/>
    <property name="url" value="${oldDb.url}"/>
    <property name="username" value="${oldDb.user}"/>
    <property name="password" value="${oldDb.pwd}"/>
  </bean>

  <bean id="newDb" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="${newDb.driver}"/>
    <property name="url" value="${newDb.url}"/>
    <property name="username" value="${newDb.user}"/>
    <property name="password" value="${newDb.pwd}"/>
  </bean>

  <bean id="main" class="fr.elimerl.registre.transfer.DataTransfer">
    <property name="batchSize" value="${batchSize}"/>
  </bean>

  <bean id="migrator" class="fr.elimerl.registre.transfer.MigratorImpl"/>

</beans>
