<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
#set ( $pageTitle = 'Accueil' )
#parse( 'header.vm' )
<body>
#parse( 'pageTop.vm' )
<h1>Accueil</h1>
<p>
  Bonjour $user.name&#xA0;!
</p>

<div>
  <form action="$contextPath/logout" method="post">
    <input type="submit" value="Se déconnecter"/>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
  </form>
</div>

</body>
</html>
