<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
#set( $titrePage = $fiche.title )
#parse( 'enTête.vm' )
<body>
#parse( 'hautDePage.vm' )
<h1>$fiche.title</h1>
<dl>
#if( $fiche.series )
  <dt>Série</dt>
  <dd>$fiche.series</dd>
#end
#if ( $fiche.auteur )
  <dt>Auteur</dt>
  <dd>$fiche.auteur</dd>
#end
#if( $fiche.comment )
  <dt>Commentaire</dt>
  <dd>$fiche.comment</dd>
#end
#if ( $fiche.owner )
  <dt>Propriétaire</dt>
  <dd>$fiche.owner</dd>
#end
#if ( $fiche.location )
  <dt>Emplacement</dt>
  <dd>$fiche.location</dd>
#end
  <dt>Référencement</dt>
  <dd>Le $fiche.création par ${fiche.créateur}.</dd>
#if ( $fiche.dernièreÉdition != $fiche.création )
  <dt>Mise à jour</dt>
  <dd>Le $fiche.dernièreÉdition par ${fiche.dernierÉditeur}.</dd>
#end
</dl>
</body>
</html>
