<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
  <title>Liste des utilisateurs de Registre</title>
</head>
<body>
<h1>Les Utilisateurs</h1>
<p>
  Bonjour $user.name&#xA0;! Voici les utilisateurs de registre&#xA0;:
</p>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Addresse email</th>
    </tr>
  </thead>
  <tbody>
#foreach($user in $users)
    <tr>
      <td>$user.id</td>
      <td>$user.name</td>
      <td>$user.email</td>
    </tr>
#end
  </tbody>
</table>
</body>
</html>
