<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
  <title>Liste des utilisateurs de Registre</title>
</head>
<body>
<h1>Les Utilisateurs</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Addresse email</th>
    </tr>
  </thead>
  <tbody>
#foreach($utilisateur in $utilisateurs)
    <tr>
      <td>$utilisateur.id</td>
      <td>$utilisateur.nom</td>
      <td>$utilisateur.email</td>
    </tr>
#end
  </tbody>
</table>
</body>
</html>
