<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
#set( $titrePage = 'Recherche' )
#parse( 'enTête.vm' )
<body>
#parse( 'hautDePage.vm' )
<h1>$titrePage</h1>
<p>
  Votre recherche a renvoyé ${fiches.size()}
  résultat#if ( $fiches.size() > 1 )s#end.
</p>
<table>
  <thead>
    <tr>
      <th>Référence</th>
      <th>Série</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
#foreach( $fiche in $fiches )
    <tr>
      <td><a href="/Registre/Fiche/$fiche.id">$fiche.titre</a></td>
      <td>#if( $fiche.série )$fiche.série#end</td>
      <td>$fiche.class.simpleName</td>
    </tr>
#end
  </tbody>
</table>
</body>
</html>
