<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <context:component-scan base-package="fr.elimerl.registre.controllers,fr.elimerl.registre.advices"/>

  <mvc:annotation-driven conversion-service="conversionService"/>

  <bean id="templateResolver" class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
    <property name="prefix" value="/WEB-INF/thymeleaf/"/>
    <property name="suffix" value=".xhtml"/>
    <property name="characterEncoding" value="UTF-8"/>
    <property name="templateMode" value="XML"/>
    <property name="cacheable" value="true"/>
  </bean>

  <bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
    <property name="templateResolver" ref="templateResolver"/>
    <property name="enableSpringELCompiler" value="true"/>
    <property name="additionalDialects">
      <set>
        <bean class="org.thymeleaf.extras.springsecurity4.dialect.SpringSecurityDialect"/>
      </set>
    </property>
  </bean>

  <bean id="viewResolver" class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
    <property name="templateEngine" ref="templateEngine"/>
    <property name="contentType" value="application/xhtml+xml; charset=UTF-8"/>
  </bean>

  <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />

  <mvc:resources mapping="/resources/**" location="/resources/"/>

  <tx:annotation-driven/>

</beans>
