:root {
  color: black;
  background-color: white;
  text-align: justify;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #66a7e1;

  &:hover {
    color: #4f8dc4;
  }

  &.self {
    color: inherit;
    cursor: default;
    text-decoration: none;
    font-weight: bolder;
  }
}

main h1 {
  font-size: x-large;
  color: #a5cc55;
  margin: 5px;
  padding: 10px;
}

aside {
  background: lightyellow;
  margin: 10px;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 8px;
}
